#container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFD384;
}

#loading{
  width: 200px;
  height: 200px;
  position: relative;
  /* background:#fff; */
  border-radius: 50%;
  border-top: 10px solid #FA7070;
  animation: animate 2s linear infinite;

}
#loading-img{
  font-size: 35px;
}
@keyframes animate {

  to{
    transform: rotate(360deg);
  }

}
#loading::after{
  transform: rotate(120deg);
  border-top: 10px solid #FFFF00;

}
#loading::before{
  transform: rotate(240deg);
  border-top: 10px solid #00FFD1;

}
#loading::after,
#loading::before{
  content: '';
  top: -10px;
  left: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  /*background: #fff;*/
  border-radius: 50%;


}

#loading span{
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
   color: #fff;
   animation: a2 2s linear infinite;
}

@keyframes a2 {

  to{
    transform: rotate(-360deg);
  }

}



@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
background-color: #D4F6CC;
}



.body{
     background: url("../https://unsplash.com/photos/JoRoy500nCc")
    // background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
 #welcome:hover{
  color:#7895B2;}

#welcome{
  color: #277BC0;
  position: absolute;
  top: 30%;
  left: 8%;
  font-size: 30px;
  font-weight: bold;
  font-family:san-serif;

}
.feedback{
  position: absolute;
  bottom:20%;
  left:4%;
  font-size: 30px;
  font-weight: bold;
  font-family:san-sans-serif;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color:#256D85;
  }

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34);
    transform: scale(1.02);
    border-radius: 15px;
}

.snake{
    background-color: purple;
    border: .50vmin solid white;
    border-radius: 15px;
}

.food{
    background: linear-gradient(red, purple);
    border: .18vmin solid black;
    border-radius: 15px;
}
